@model AprajitaRetails.Shared.Models.Stores.Store

@{
    ViewData["Title"] = "Delete";
}

  
<h3 class="text-warning">Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <table class="table table-borderless">
        <tr class="row thead-light">
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.StoreCode)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.StoreCode)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.StoreName)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.PinCode)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNo)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.StoreManagerName)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.StoreManagerName)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.StoreManagerPhoneNo)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.StoreManagerPhoneNo)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.PanNo)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.PanNo)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.GSTNO)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.GSTNO)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.NoOfEmployees)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.NoOfEmployees)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.OpeningDate)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.OpeningDate)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosingDate)
            </th>
            <td  class="col-sm-10">
                @Html.DisplayFor(model => model.ClosingDate)
            </td >
            <th  class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <td class="col-sm-10">

                @Html.DisplayFor(model => model.Status)
                
            </td>
        </tr>

    </table>    <form asp-action="Delete">
        <input type="hidden" asp-for="StoreId" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />  
    </form>
</div>
