@model IEnumerable<AprajitaRetails.Shared.Models.Stores.Store>

@{
    ViewData["Title"] = " Stores";
}

<!-- Table with panel -->
<div class="card card-cascade narrower ">
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

        <div>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-th-large mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-columns mt-0"></i>
            </button>
        </div>

        <a href="" class="white-text mx-3">Stores</a>

        <div>
            <a asp-action="Create" class="btn btn-outline-white btn-rounded btn-sm px-2" id="create" data_modal=""> <i class="fas fa-plus-circle mt-0"></i></a>

            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-pencil-alt mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="far fa-trash-alt mt-0"></i>
            </button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" onclick="toastr.success('Sorry!, Button is not Implemented.');">
                <i class="fas fa-info-circle mt-0"></i>
            </button>
        </div>
    </div>
    <div class="px-4">

        <div class="table-wrapper ">
            <table id="dtMaterialDesignExample" cellspacing=" 0" width="100%" class="table table-responsive bg-white table-hover table-borderless table-sm  table-responsive-sm mb-0">
                <thead class="text-monospace text-muted">
                    <tr>
                        <th></th>
                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.StoreCode)
                        </th>
                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.StoreName)
                        </th>

                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.City)
                        </th>

                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.PhoneNo)
                        </th>
                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.StoreManagerName)
                        </th>
                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.GSTNO)
                        </th>

                        <th class="th-sm">
                            @Html.DisplayNameFor(model => model.OpeningDate)
                        </th>

                        <th class="th-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreName)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.PinCode)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreManagerName)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.StoreManagerPhoneNo)
                                </td>*@
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.PanNo)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.GSTNO)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.NoOfEmployees)
                                </td>*@
                            <td class="">
                                @Html.DisplayFor(modelItem => item.OpeningDate)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ClosingDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>*@
                            <td class="btn-group">
                                <a class="btn btn-cyan btn-sm btn-rounded" id="edit" data_modal="" asp-action="Edit" asp-route-id="@item.StoreId" onclick="toastr.success('Loading....');">Edit</a>
                                <a class="btn btn-info btn-sm" id="detail" data_modal="" asp-action="Details" asp-route-id="@item.StoreId">Details</a>
                                <a class="btn btn-danger btn-sm btn-rounded" id="delete" data_modal="" asp-action="Delete" asp-route-id="@item.StoreId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>


<partial name="_OnlyModalPopUp" />

@section Scripts
{
    <script>
        $(document).ready(function () {
            //$('#dtBasicExample').DataTable();
            //  $('.dataTables_length').addClass('bs-select');
            $('#dtMaterialDesignExample').dataTable({
                "pagingType": "full_numbers",
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox select-checkbox-all',
                    targets: 0
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var search = $(`<input class="form-control form-control-sm" type="text" placeholder="Search">`)
                            .appendTo($(column.footer()).empty())
                            .on('change input', function () {
                                var val = $(this).val()

                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });

                    });
                }
            });

           // $('.dataTables_length').addClass('bs-select');
            //$('#dtMaterialDesignExample_wrapper').find('label').each(function () {
            //    $(this).parent().append($(this).children());
            //});
            //$('#dtMaterialDesignExample_wrapper .dataTables_filter').find('input').each(function () {
            //    const $this = $(this);
            //    $this.attr("placeholder", "Search");
            //    $this.removeClass('form-control-sm');
            //});
           // $('#dtMaterialDesignExample_wrapper .dataTables_length').addClass('d-flex flex-row');
           // $('#dtMaterialDesignExample_wrapper .dataTables_filter').addClass('md-form');
           // $('#dtMaterialDesignExample_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
           // $('#dtMaterialDesignExample_wrapper select').addClass('mdb-select');
           // $('#dtMaterialDesignExample_wrapper .mdb-select').materialSelect();
           // $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('label').remove();
        });


    </script>
}
